<div class="modal-header">
  <h4 class="modal-title">{{ (question.text.length>30)? (question.text | slice:0:30)+'..':(question.text) }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class=""><b>{{question.text}}</b></div>
  <div class="text-primary">{{question.topic?.title}}</div>
  <div class="text-right text-muted" *ngIf="!me">{{question.user?.name}}</div>
  <div class="text-right text-muted">{{question.createdAt | date:'medium'}}</div>
  <br />

  <ng-container *ngIf="answers?.length;else noAnswers" class="mb-0">
    <h6 class="text-muted text-left font-weight-bold mr-2">{{answers.length}} Respuestas</h6>
    <div *ngFor="let an of answers;">
      <div class="d-flex user-row align-items-center">
        <img class="avatar" [src]="an.user?.photo || 'assets/imgs/person.png'" />
        <div>
          <p>{{an.text}}</p>
        </div>
      </div>
      <div class="text-right text-muted" *ngIf="an.createdAt">{{an.createdAt | date:'medium'}}</div>
      <div class="text-right">
        <span *ngIf="an.accepted;else acceptButton" class="badge badge-success">Aceptada</span>
        <ng-template #acceptButton>
          <button class="btn btn-outline-primary m-1 btn-sm" (click)="acceptAnswer(an)" [disabled]="executing"><fa-icon icon="check" class="mr-1"></fa-icon>Aceptar</button>
        </ng-template>
      </div>
      <hr />
    </div>
  </ng-container>
  <ng-template #noAnswers>
    <hr />
    <p class="text-muted"><i>Nadie ha respondido todavía a ésta pregunta :(</i></p>
  </ng-template>

  <form [formGroup]="itemForm" (ngSubmit)="answer()" #itemFormTpl="ngForm" novalidate>
    <div class="form-group">
      <label for="text"><b>Escribe una respuesta</b></label>
      <textarea id="text" class="form-control" type="text" name="text" maxlength="800" formControlName="text"
        placeholder="Se puede resolver así...">
          </textarea>

    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="!itemForm.valid || executing">
        Responder
      </button>
    </div>
  </form>


</div>