<div class="modal-header">
  <h4 class="modal-title">{{ (question.text.length>30)? (question.text | slice:0:30)+'..':(question.text) }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class=""><b>{{question.text}}</b></div>
  <div class="text-primary">{{question.topic?.title}}</div>
  <div class="text-right text-muted">{{question.createdAt | date:'medium'}}</div>
  <br />

  <ng-container *ngIf="answers?.length;else noAnswers" class="mb-0">
    <h6 class="text-muted text-left font-weight-bold mr-2">{{answers.length}} Respuestas</h6>
    <div *ngFor="let an of answers;">
      <div class="d-flex user-row align-items-center">
          <img class="avatar" [src]="an.user?.photo || 'assets/imgs/person.png'" /> 
          <div>
            <p>{{an.text}}</p>
          </div>
      </div>
      <div class="text-right text-muted" *ngIf="an.createdAt">{{an.createdAt | date:'medium'}}</div>
      <hr />
    </div>
  </ng-container>
  <ng-template #noAnswers>
    <hr />
    <p class="text-muted"><i>Nadie ha respondido todavía a tu pregunta :(</i></p>
  </ng-template>
</div>