/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
@import "theme-variables";
/*Put values above*/
@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: rgba(1, 121, 178, 0.02);
}

.clickable{
  cursor: pointer;
}

.underline{
  text-decoration:underline;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar.sm{
  width: 30px;
  height: 30px;
}